ridl.aux
ridl.dvi
ridl.html
ridl.log
ridl.out
ridl.pdf
ridl.ps
ridl.tex
ridl_manual.aux
ridl_manual.dvi
ridl_manual.html
ridl_manual.log
ridl_manual.out
ridl_manual.pdf
ridl_manual.ps
ridl_manual.tex
